.l-container{
    width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

