.roomsInfo{
    
    p{
        margin: auto;   
        width: 576px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #211718;
        
    }
}